* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: "Roboto", serif;
}

:root{
    --accent-color: #ff6a3e;
    --paragraph-color: #4E4B66;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    height: 80px;
}

.top-nav a {
    text-decoration: none;
    color:#4E4B66;
    border-bottom: transparent 2px solid;
    padding-bottom: 6px;
}

.top-nav ul {
    list-style-type: none;
    overflow: hidden;
}

.top-nav li{
    display: block;
    float: left;
    padding: 16px;

}

.top-nav li a:hover{
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: all .2s;
    }

.top-logo{
    size: 20px;
}

.top-nav .contact-button {
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    color: var(--accent-color);
    background-color: transparent;
    padding: 10px 25px;
    text-align: center;
    font-size: 16px;
}


.top-nav .contact-button:hover {
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    transition: all .2s;
}

#main{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    color: #000000;
    column-gap: 5%;
}

.content .description {
padding-bottom: 20px;
font-size: 18px;
color: var(--paragraph-color);
}

.content .title{
 font-size: 36px;
    }

.content .read-more{
    margin-top: 10px;
    color: white;
    background-color: var(--accent-color);
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}

.content .read-more:hover{
    background-color: #000000;
    transition: all .3s;
}

.hero-img-style{
    margin-top: 50px;
    border-radius: 60px;
    height: clamp(17.5rem, 58.6vw, 31.875rem);
    object-fit: cover;
}

.infographs{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    margin-bottom: 200px;
}

.infographs > div{
    background-color: #F7F7F7;
    padding: 35px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.infographs > div > h3{
margin-top: 10px;
margin-bottom: 10px;
}

.infographs > div:hover h3 {
    color: var(--accent-color);
}

.infographs > div > .icon-style {
    width: 25%;
    transition: 0.5s ease-in-out;
}

.infographs > div:hover .icon-style {
    transform: rotateY(360deg);
}


